@model IEnumerable<CaterCroweCapstone2019.Models.DAL.DALModels.Course>

@{
    ViewBag.Title = "CoursesHome";
}

<h2>Courses Home</h2>

<table class="table table-active">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem  => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("View", "Course", new { courseID = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Grades", "GradeItemHome", new { courseID = item.ID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Add GradeItem", "CreateGradeItem", new { courseID = item.ID }, new { @class = "btn btn-light" } )
                    @Html.ActionLink("Final Grades", "FinalGrade", new { courseID = item.ID }, new { @class = "btn btn-dark" })
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
