@model CaterCroweCapstone2019.Models.DAL.DALModels.GradeItem

@{
    ViewBag.Title = "CreateGradeItem";
}

@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
@Styles.Render("~/Content/themes/base/datepicker.css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")

<script>
    $(document).ready(function () {
        $('#datepicker').datepicker();
    });
</script>

<h2>CreateGradeItem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>GradeItem</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaxGrade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaxGrade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxGrade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("dateForDueDate", new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @value = DateTime.Now.Date, @type = "text" } })
            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="timeForDueDate">Due Time</label>
        <div class="col-md-10">
            @Html.Editor("timeForDueDate", new { htmlAttributes = new { @class = "form-control", @value = DateTime.Now.Date, @type = "time" } })
            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.DueDate)

    <div class="form-group">
        @Html.LabelFor(model => model.WeightType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("WeightType", (SelectList)ViewBag.weightTypes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WeightType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Course", "CoursesHome", null, new { @class = "btn btn-dark" })
</div>
