@model IEnumerable<CaterCroweCapstone2019.Models.DAL.DALModels.GradeItem>

@{
    ViewBag.Title = "GradeItemHome";
}

<h2>GradeItemHome</h2>


<table class="table table-active">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Max Grade</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.MaxGrade</td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Grade", "GradeGradeItem", new { courseID = Convert.ToInt32(ViewBag.courseID), gradeItemID = item.ID}, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "EditGradeItem", new { gradeItemID = item.ID}, new { @class = "btn btn-secondary" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>